.Candy {
	height: 100vh;
	max-width: 100%;
	background-image: url("https://images.squarespace-cdn.com/content/v1/5ebc957ff2e6a32d0a84072c/1599076198693-ZN76GNR5CHGSO1PL9I3E/4155154.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-size: 30px;
}

.Candy-section {
	background-color: lightsalmon;
	width: 400px;
	height: 400px;
	border-radius: 100%;
	text-align: center;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Candy-link {
	color: rgb(114, 85, 209);
}

.Candy-link:hover {
	color: blue;
}
